.nlu-footer {
    padding: 16px 24px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: calc(100% - 48px)
}

.nlu-copyright {
    color: #777;
    padding: 0;
}

@media (orientation: portrait) {
    .nlu-footer {
        height: 32px;
        padding: 32px 24px;
    }

    .nlu-copyright {
        font-size: 12px;
    }
}